---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/public/cover.png" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<meta name="msapplication-TileColor" content="#FFF" />
<meta name="theme-color" content="#FFF" />
<link rel="apple-touch-icon" sizes="57x57" href="/public/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/public/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/public/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/public/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/public/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/public/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/public/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/public/apple-icon-180x180.png" />
<link rel="icon" type="image/png" href="/public/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/public/android-icon-36x36.png" sizes="36x36" />
<link rel="icon" type="image/png" href="/public/android-icon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/png" href="/public/android-icon-72x72.png" sizes="72x72" />
<link rel="icon" type="image/png" href="/public/android-icon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/public/android-icon-144x144.png" sizes="144x144" />
<link rel="icon" type="image/png" href="/public/android-icon-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/public/favicon-16x16.png" sizes="16x16" />
<meta name="msapplication-TileImage" content="/public/ms-icon-144x144.png" />
<meta name="msapplication-square70x70logo" content="/public/ms-icon-70x70.png" />
<meta name="msapplication-square150x150logo" content="/public/ms-icon-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/public/ms-icon-310x150.png" />
<meta name="msapplication-square310x310logo" content="/public/ms-icon-310x310.png" />
<link
  href="/public/apple-startup-320x460.png"
  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-640x920.png"
  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-640x1096.png"
  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-748x1024.png"
  media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link href="/public/apple-startup-750x1024.png" media="" rel="apple-touch-startup-image" />
<link
  href="/public/apple-startup-750x1294.png"
  media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-768x1004.png"
  media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-1182x2208.png"
  media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-1242x2148.png"
  media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-1496x2048.png"
  media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
  rel="apple-touch-startup-image"
/>
<link
  href="/public/apple-startup-1536x2008.png"
  media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
  rel="apple-touch-startup-image"
/>
<link rel="manifest" href="/manifest.json" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.bunny.net" />
<link href="https://fonts.bunny.net/css?family=azeret-mono:400" rel="stylesheet" />
